.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
h1 { 
    color: blue;
     font-size: 24px; 
     cursor: pointer;
     user-select: none;
    }

    .class3{
        color: red;
    }

    .button-class{
        text-transform: uppercase;
    }